RewriteEngine on
RewriteCond %{HTTP_HOST} ^olexandryaremchuk.github.io/WebStudio/index.html [NC,OR]
RewriteCond %{HTTP_HOST} ^www.olexandryaremchuk.github.io/WebStudio/index.html [NC]
RewriteRule ^(.*)$ https://google.com.ua/ [L,R=301,NC]
